%% -*- mode: erlang -*-
%% Erlang compiler options
{erl_opts,[
    debug_info,
    report,
    verbose,
    %warn_deprecated_function,
    warn_deprecated_type,
    warn_export_all,
    warn_export_vars,
    warn_obsolete_guard,
   % warn_untyped_record,
    warn_unused_import,
	%{parse_transform, lager_transform}
	{src_dirs, ["deps", "src"]}
    % do NOT include warnings_as_errors, as rebar includes these options
    % when compiling for eunit, and at least one test module has code that
    % is deliberatly broken and will generate an un-maskable warning
]}.

{cover_enabled, true}.

{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.


%% List of dependencies
{deps, [

			%{lager, ".*", {git, "https://github.com/basho/lager.git", {branch, "master"}}},
			%{log4erl, ".*", {git, "https://github.com/ahmednawras/log4erl.git", {branch, "master"}}}
			{log4erl, ".*", {git, "https://github.com/snailman/log4erl.git", {branch, "master"}}}
		]
}.
